:root {
    --darkgray: #121212;
    --midgray: #2a2929;
    --lightgray: #545151;
    --palegray: #e9e9e9;
    --purple: #341247;
    --lightpurple: #543267;
}

body, div, form, h1, input, textarea, .btn {
    margin: 0;
    padding: 0;
    color: var(--palegray);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
}

#navbar {
    background-color: var(--darkgray);
    height: 100vh;
    flex: 1;
    text-align: center;
    font-weight: bold;
    padding-top: 1rem;
    box-sizing: border-box;
}

#calculator-pane {
    background-color: var(--midgray);
    max-height: 100vh;
    flex: 8;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

#input-display {
    flex: 3;
}

#output-display {
    flex: 5;
}

.area {
    padding: 0.5rem;
    height: 90%;
}

.input.area {
    background-color: var(--darkgray);
    resize: none;
    border: none;
    width: -webkit-fill-available;
}

.graphs.area {
    background-color: var(--purple);
}

.btn-container {
    display: inline;
    display: flex;
    gap: 2rem;
}

.btn {
    background-color: var(--lightpurple);
    padding: 5px 10px;
    margin: 0 2px;
    border: none;
}

.selected {
    background-color: var(--purple);
}

#calc-btn {
    background-color: var(--darkgray);
    width: fit-content;
    font-size: large;
    border-top: none;
    display: block;
    margin: 0;
}